/*
* breadcrumbs
*/

.breadcrumbs {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 10px;
    margin-top: 45px; 
}

.breadcrumbs__item--inactive {
    color: #f89513;
}

.breadcrumbs__item {
    display: inline-block;
}

.breadcrumbs__item:after {
    content: " /";
    display: inline-block;
}

.breadcrumbs__item:last-child:after {
content: none;
}