/*
* comments page
*/

.comments__title {
    font-weight: bold;
    font-size: 49px;
    margin: 0px;
    margin-bottom: 34px;
}

.comments__list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    margin-bottom: -14px;
}

.comments__item {
    display: block;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-bottom: 25px;
}

.comments__item:last-child {
    border-bottom: 1px solid transparent;
}

.comments__block {
    margin-bottom: 28px;
    min-height: 160px;
    float: left;
    width: 700px;

}

.comments__date {
    font-size: 14px;
    margin: 0;
    margin-bottom: 7px;
    line-height: 12px;
}

.comments__person {
    font-weight: bold;
    margin: 0;
    margin-bottom: 8px;
}

.comments__text {
    margin: 0;  
    line-height: 30px;
}

.comments__img {
    width: 160px;
    height:160px;
    overflow: hidden;
    border-radius:50%;
    float: left;
    margin-right: 20px;
    background-color: #f5f5f5;
    position: relative;
}

.comments__photo {
    max-width: 100%;
    background-position: 50% 50%;
}

.comments__logo {
    opacity: 0.2;
    filter: grayscale(100%);
    width: 95px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.pagination {
    text-align: center;
    margin-bottom: 70px;
}

.pagination__text {
    font-size: 14px;
    color: #656464;
    display: inline-block;
    margin-right: 10px;
}
.pagination__list, .pagination__item {
    display: inline-block;
}

.pagination-nav {
    padding: 0 10px;
}

.pagination__link {
    padding: 3px 8px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s ease-in; 
    -webkit-transition: 0.5s ease-in; 
    -moz-transition: 0.5s ease-in; 

}

.pagination__item:first-child:before {
    content: "";
    display: inline-block;
    background-image: url('../../img/icons/navigation/back.png');
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.pagination__item:last-child:after {
    content: "";
    display: inline-block;
    background-image: url('../../img/icons/navigation/forth.png');    
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.pagination__link:hover {
    background-color: #221f1f;
    color: #f89513;
    border-radius: 2px;
}

.pagination__link--active {
    background-color: #221f1f;
    color: #f89513;
    border-radius: 2px;
}
