/*
footer
*/

footer {
    background-color: #131415;
    min-width: 1100px;
    height: 77px;
    margin-top: -77px;
    margin: 0 auto;

    
}

.footer__left, .footer__middle, .footer__right {
    float: left;
    width: 33.33%;
    display: inline-block;
}

.footer__author {
    font-size: 14px;
    color: #ffffff;
    text-align: left;
    margin-top: 10px;
}

.footer__logo {
    text-align: center;
}

.footer__social {
    float: right;
    text-align: right;
    margin-top: 15px;
}

.social__list {
    display: block;
    text-align: left;
}

.social__text {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 5px;
}

.social__item {
   display: inline-block; 
   text-align: left;
   margin-right: 5px;
}


.social__icon {
    width: 20px;
    height: 20px;
    opacity: 0.8;
}

.social__vk {
    background-image: url('../img/icons/social/vk.png');
    background-size: contain;
}

.social__fb {
    background-image: url('../img/icons/social/fb.png');
    background-size: contain;
}

.social__google {
    background-image: url('../img/icons/social/google.png');
    background-size: contain;
}

.social__twitter {
    background-image: url('../img/icons/social/twitter.png');
    background-size: contain;
}

.social__mail {
    background-image: url('../img/icons/social/mail.png');
    background-size: contain;
}

.social__link:hover .social__vk {
    background-image: url('../img/icons/social/vk_hover.png');
    background-size: contain;
    opacity: 1;
}

.social__link:hover .social__fb {
    background-image: url('../img/icons/social/fb_hover.png');
    background-size: contain;
    opacity: 1;
}

.social__link:hover .social__google {
    background-image: url('../img/icons/social/google_hover.png');
    background-size: contain;
    opacity: 1;
}
.social__link:hover .social__twitter {
    background-image: url('../img/icons/social/twitter_hover.png');
    background-size: contain;
    opacity: 1;
}
.social__link:hover .social__mail {
    background-image: url('../img/icons/social/mail_hover.png');
    background-size: contain;
    opacity: 1;
}

