
.form {
    border-radius: 3px;
    background-color: #f5f5f5;
    position: relative;
    width: 700px;
    padding: 53px 70px;
    margin-bottom: 70px;
}

.form__title {
    font-weight: bold;
    font-size: 49px;
    margin-bottom: 26px;
    line-height: 36px;
}

.form__item {
    display: block;
    float: left;
    width: 270px;
}

.form__textarea {
    display: block;
    float: left;
    width: 100%;
}

.form__item:first-child {
    margin-right: 20px;
}

.form__caption {
    font-size: 14px;
    width: 100%;
    margin-bottom: 7px; 
}

.form__row {
    margin-bottom: 16px;
}

.form__row:last-child {
    margin-bottom: 0px;
}

.form__input {
    font-size: 14px;
    opacity: 0.5; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    height: 45px;
    padding: 15px 10px;
    cursor: pointer;
       
}

.form__text {
    resize: none;
    font-size: 14px;
    opacity: 0.5; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: none;
    width: 100%;
    height: 90px;
    padding: 10px;
    cursor: pointer;
}

.form__input:focus, .form__text:focus {
    opacity: 1; 
    border-width: 1px;
    border-style: solid;
    border-color: #f89513;
}

.radio__btn {
    display:inline-block;
    display: none;
}

.radio__text {
    display:inline-block;
    font-size: 14px;
}

.radio__fake {
    display: inline-block;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 50%;
    width: 18px;
    height: 18px;
  background-image: -moz-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
  position: relative;
  cursor: pointer;
}

.radio__btn:checked + .radio__fake {
    border: 1px solid #f89513;
    background-image: -moz-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(237,237,237) 0%, rgb(255,255,255) 100%);
}

.radio__btn:checked + .radio__fake:after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #f89513;
    position: absolute;
    top: 4px;
    left: 4px;
}

.radio__btn:checked + .radio__fake + .radio__text{
    color: #f89513;
}

.form__options, .form__button {
    float: left;
    width: 50%;
}

.form__options, .form__button {
    float: left;
    width: 50%;
    margin-top: -5px;

}


.form__btn {
    float: right;
}

.form__submit {
    background-color: #1c1f1d;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    border-style: none;
    width: 125px;
    height: 45px;
    cursor: pointer;
}
