/*
main page content
*/

.main__cover {
    width: 880px;
    height: 355px;
    overflow: hidden;
    position: relative;

}

.main__title {
    font-size: 49px;
    weight: bold;
    color: #ffffff;
    position: absolute;
    top: 150px;
    left: 65px;
    margin: 0px;
    text-transform: uppercase;
    line-height: 1;
}

.main__img {
    max-width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
}

.main__content {
    padding-right: 16.98%;
}

.main__text{
    margin-bottom: 24px;
    line-height: 30px;
    margin-top: 24px;
}

.main__text p {
    margin-bottom: -2px;
}

.main__text ul {
    margin-top: 10px;
}

.main__text li {
    margin-bottom: 5px;
    padding-left: 45px;
    background: url('../../img/icons/list.png') 15px 12px no-repeat;
}


.description {
    background-color: #131415;
    color: #ffffff;
    padding: 13px 30px;
    margin-bottom: 54px;
    line-height: 30px;
}

.partners {
    margin-bottom: 25px;
    padding-right: 6.6%; 
}

.partners__title {
    font-size: 49px;
    weight: bold;
    color: #221f1f;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}


.partners__item {
    float: left;
    width: 33.33%;
    display: inline-block;
    vertical-align: middle;
}

.partners__link {
    position: relative;
    display: block;
    width: 160px;
    height: 70px;
    margin-bottom: 44px;
}


.partners__icon {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    }

.partners__icon:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale (0%);
}


