/*
sidebar
*/


.sidebar {
    float: left;
    width: 180px;
    padding-right: 10px;
    padding-top:45px;
}

.menu {
    display: block;
    float: left;
}

.menu__link {
    text-decoration: none;
    margin-bottom: 25px;
    color: #f89513;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.5s ease-out;
    -webkit-transition: color 0.5s ease-out;
    -moz-transition: color 0.5s ease-out;
}

.menu__link:hover {
    color: #221f1f;
    
}

.menu__link:active {
    color: #221f1f;
}


.menu__link:before {
    content:"";
    display: inline-block;
    vertical-align: middle;  
    margin-right: 17px; 
    width: 20px;
    height: 18px;
    background: url('../../img/icons/navigation.png') 0 0 no-repeat;
}

.menu__link--main:before {
    content:"";
    display: inline-block;
    background-position: 0 bottom;
    
    
}

.menu__link--main:hover:before {
    background-position: 0 0;

}

.menu__link--services:before {
    content:"";
    display: inline-block;
    background-position: -100px bottom;
}

.menu__link--services:hover:before {
    animation: change 0.5s;
    background-position: -100px 0;
}

.menu__link--comments:before {
    content:"";
    display: inline-block;
    background-position: -200px bottom;
}

.menu__link--comments:hover:before {
    background-position: -200px 0;
}


.menu__link.menu__link--active {
    color: #221f1f;
}

.menu__link--main.menu__link--active:before {
    background-position: 0 0;
}

.menu__link--services.menu__link--active:before {
    background-position: -100px 0;
}

.menu__link--comments.menu__link--active:before {
    background-position: -200px 0;
}
